node_modules
.env
.env.development
.env.qa
.env.go
.env.dev2
.env.production
functions/.env
functions/.env.local
*.log
functions/serviceAccountKey.json
.firebase/
dist/
.vscode/
.logs/
.DS_Store
.cursor/