name: Deploy to QA

on:
  push:
    branches:
      - release
  workflow_dispatch:

jobs:
  deploy-qa:
    name: Deploy QA Environment
    runs-on: ubuntu-latest
    environment: qa

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Create frontend .env file (QA)
        run: echo "${{ vars.ENV_FILE_FRONTEND_QA }}" > .env.qa

      - name: Write Firebase service account JSON
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_QA }}' > firebase-sa.json

      - name: Install Firebase tools
        run: npm install -g firebase-tools

      - name: Build FE (QA)
        run: npm run build:qa

      - name: Firebase Deploy (QA)
        run: firebase deploy --project qa
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/firebase-sa.json
