name: Deploy to Dev

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-dev:
    name: Deploy Dev Environment
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Create frontend .env file (DEV)
        run: echo "${{ vars.ENV_FILE_FRONTEND_DEV }}" > .env.development

      - name: Write Firebase service account JSON
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_DEV }}' > firebase-sa.json

      - name: Install Firebase tools
        run: npm install -g firebase-tools

      - name: Build FE (DEV)
        run: npm run build:dev

      - name: Firebase Deploy (DEV)
        run: firebase deploy --project dev
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/firebase-sa.json
